<h1>Sign Up</h1>

  <form action="<%= users_url %>" method="post">
    <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
    <label for="un">Username</label>
    <input id="un" type="text" name="user[username]">
    <label for="pw">Password</label>
    <input id="pw" type="password" name="user[password]">
    <input type="submit" value="Sign Up">
  </form>
